<launch>
  <node pkg="pimouse_monitor" name="webserver" type="webserver.py" args="8000" />
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"> 
     <arg name="port" value="9000"/>
  </include>
  <include file="$(find pimouse_ros)/pimouse.launch" /> 

  <node pkg="usb_cam" name="usb_cam" type="usb_cam_node" >
    <param name="pixel_format" value="yuyv" />
    <param name="framerate" value="2" />
    <param name="image_width" value="320" />
    <param name="image_height" value="240" />
  </node>
  <node pkg="mjpeg_server" name="mjpeg_server" type="mjpeg_server" >
    <param name="port" value="10000" />
  </node>

</launch>
